.noEntriesText {
    color: var(--color-text-muted)
}

.loaderElement {
    margin: 1rem 0;
    overflow: hidden;
    padding: 10px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loaderVisible {
    height: 40px;
}

.loaderHidden {
    height: 0;
}