.clearButton {
    right: 10px;
    top: 50%;
    transform: translateX(-5px);

    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: none;

    background-color: var(--color-text-muted);
    color: white;

    font-size: 12px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
