.footer {
    margin-top: 3rem;
    justify-content: center;
    align-content: center;
}

.appLogo {
    height: 80px;
    margin-bottom: 2rem;
}

.subheader {
    color: var(--color-text-secondary);
}

.githubLink,
.githubLink:link,
.githubLink:visited {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.2s ease;
    margin-top: 3rem;
}

.githubLink:hover {
    color: var(--color-accent-blue);
    text-shadow: 0 0 30px var(--entry-card-blue-shadow);
}

.icon {
    position: relative;
    top: -1px;
}
