.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 0.5rem;
    padding: 0.6rem 0.8rem;

    background-color: var(--color-bg);
    border-radius: 1.2rem;

    box-shadow: var(--navbar-box-shadow);

    border: none;
    flex-grow: 1;
}

.navBarHStack {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensures it's above the content */
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
}
