.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 0.5rem;
    padding: 0.6rem 0.8rem;

    background-color: #e0e5ec;
    border-radius: 1.2rem;

    box-shadow:
        -8px -8px 20px rgba(255, 255, 255, 0.9),
        -4px -4px 6px rgba(255, 255, 255, 0.8),
        8px 8px 20px rgba(0, 0, 0, 0.15),
        4px 4px 6px rgba(0, 0, 0, 0.1);

    border: none;
}

.navBarHStack {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensures it's above the content */
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
}
