/* Card pieces*/
.cardContainer {
    position: relative;
    background-color: var(--color-surface);
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0 auto 10px;
    box-shadow: var(--color-navbar-box-shadow);
    display: flex;
}

.link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1; /* take remaining space */
    min-width: 0; /* allow children to shrink */
    margin-top: 10px;
}

.title {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.titleFade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    background: linear-gradient(to right, transparent, var(--color-surface));
}

.platform {
    font-size: 16px;
    color: var(--color-text-primary);
}

.rating {
    color: var(--color-text-secondary);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.date {
    color: var(--color-text-secondary);
    font-size: 12px;
}

.cardChevron {
    color: var(--color-text-secondary);
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Status styles*/
.started {
    color: var(--color-accent-green);
    font-size: 12px;
    border: 1px solid var(--color-accent-green);
    border-radius: 35px;
    padding: 0 0.7rem;
}

.completed {
    color: var(--color-accent-purple);
    font-size: 12px;
    border: 1px solid var(--color-accent-purple);
    border-radius: 35px;
    padding: 0 0.7rem;
}

.revisited {
    color: var(--color-accent-cyan);
    font-size: 12px;
    border: 1px solid var(--color-accent-cyan);
    border-radius: 35px;
    padding: 0 0.7rem;
}

.paused {
    color: var(--color-accent-yellow);
    font-size: 12px;
    border: 1px solid var(--color-accent-yellow);
    border-radius: 35px;
    padding: 0 0.7rem;
}

.dropped {
    color: var(--color-accent-magenta);
    font-size: 12px;
    border: 1px solid var(--color-accent-magenta);
    border-radius: 35px;
    padding: 0 0.7rem;
}
