.cardContainer {
    position: relative;
    background-color: var(--color-surface);
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
