a.lplinks,
a.lplinks:link,
a.lplinks:visited {
    color: var(--color-text-secondary);
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}

a.lplinks:hover {
    color: var(--color-accent-blue);
}

.formVStack {
    max-width: 400px;
    margin: auto;
}

.fullscreenLoader {
    position: fixed;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
