.body {
    margin-top: 2rem;
}

.pageNumber {
    color: var(--color-text-muted);
    user-select: none;
}

.noResultsFoundText {
    color: var(--color-text-muted);
    margin-top: 10rem;
    user-select: none;
}
