/* Fonts: Inter, Nunito, Text Me One*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Text+Me+One&display=swap');

/* GENERAL STYLING ========================================================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-primary);
}

Link {
    cursor: pointer;
}

.headerLogo {
    height: 50px;
    width: auto;
}

/* TOASTIFY CUSTOMIZATION ================================================== */

/* Toast body */
.Toastify__toast {
    background: var(--color-surface) !important;
    color: var(--color-text-primary) !important;
}

/* Success progress bar */
.Toastify__progress-bar--success {
    background: var(--color-accent-green) !important;
}

/* Error progress bar */
.Toastify__progress-bar--error {
    background: var(--color-accent-magenta) !important;
}

/* Warning progress bar */
.Toastify__progress-bar--warning {
    background: var(--color-accent-yellow) !important;
}

/* Info progress bar */
.Toastify__progress-bar--info {
    background: var(--color-accent-cyan) !important;
}

/* Success icon */
.Toastify__toast--success .Toastify__toast-icon svg {
    fill: var(--color-accent-green) !important;
}

/* Error icon */
.Toastify__toast--error .Toastify__toast-icon svg {
    fill: var(--color-accent-magenta) !important;
}

/* Warning icon */
.Toastify__toast--warning .Toastify__toast-icon svg {
    fill: var(--color-accent-yellow) !important;
}

/* Info icon */
.Toastify__toast--info .Toastify__toast-icon svg {
    fill: var(--color-accent-cyan) !important;
}

/* THEMING ================================================================== */

:root {
    /* General rules */
    font-family: Inter, sans-serif;
    line-height: 1;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* General Colors */

    /* Background and surface */
    --color-bg-light: #e0e0e0;

    /* Text */
    --color-text-primary-light: #5b5b5b;
    --color-text-secondary-light: #444444;

    /* Highlights */
    --color-accent-blue-light: #6fcfff;
    --color-accent-magenta-light: #ff6b81;
    --color-accent-green-light: #6fcf97;

    /* Component specific */

    /* Input field */
    --input-field-background-light: e1e2e3;
    --input-field-box-shadow-light: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    --input-field-background-focus-light: #ffffff;
    --input-field-box-shadow-focus-light:
        13px 13px 100px #969696, -13px -13px 100px #ffffff;

    /* Semantic mapping */
    --color-bg: var(--color-bg-light);
    --color-text-primary: var(--color-text-primary-light);
    --color-text-secondary: var(--color-text-secondary-light);
    --color-accent-blue: var(--color-accent-blue-light);
    --color-accent-magenta: var(--color-accent-magenta-light);
    --color-accent-green: var(--color-accent-green-light);
    --input-field-background: var(--input-field-background-light);
    --input-field-box-shadow: var(--input-field-box-shadow-light);
    --input-field-background-focus: var(--input-field-background-focus-light);
    --input-field-box-shadow-focus: var(--input-field-box-shadow-focus-light);
}

[data-theme='dark'] {
}
