.divider {
    width: 75%;
    max-width: 300px;
    height: 2px;
    margin: 0.75rem auto 1rem;

    background-color: var(--color-bg);
    border-radius: 999px;

    box-shadow: var(--inset-divider-box-shadow);
}
