.divider {
    width: 75%;
    max-width: 300px;
    height: 2px;
    margin: 0.75rem auto 1rem;

    background-color: #e0e5ec;
    border-radius: 999px;

    box-shadow:
        inset 1px 1px 2px rgba(0, 0, 0, 0.2),
        inset -1px -1px 2px rgba(255, 255, 255, 0.9);
}
