.button {
    padding: 10px 20px;
    font-size: 16px;
    user-select: none;
    background-color: #e0e5ec;
    border: none;
    border-radius: 10px;
    color: #555;
    cursor: pointer;
    outline: none;
    box-shadow:
        -7px -7px 20px 0 #fff9,
        -4px -4px 5px 0 #fff9,
        7px 7px 20px 0 #0002,
        4px 4px 5px 0 #0001,
        inset 0 0 0 0 #fff9,
        inset 0 0 0 0 #0001,
        inset 0 0 0 0 #fff9,
        inset 0 0 0 0 #0001;
    transition: box-shadow 0.3s ease-in-out;
}

.button:active {
    box-shadow:
        0 0 0 0 #fff9,
        0 0 0 0 #fff9,
        0 0 0 0 #0001,
        0 0 0 0 #0001,
        inset -7px -7px 20px 0 #fff9,
        inset -4px -4px 5px 0 #fff9,
        inset 7px 7px 20px 0 #0003,
        inset 4px 4px 5px 0 #0001;
}

.button:disabled {
    color: var(--stdbutton-color-disabled);
    cursor: not-allowed;
    pointer-events: none;
    transition: none;
}

.icon {
    vertical-align: middle;
    margin-top: 1px;
}
