.button {
    padding: 20px 40px;
    font-size: 18px;
    background-color: #e0e5ec;
    border: none;
    border-radius: 20px;
    color: #555;
    cursor: pointer;
    outline: none;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.3s ease-in-out;
}

.button:active {
    box-shadow:
        0px 0px 0px 0px #fff9,
        0px 0px 0px 0px #fff9,
        0px 0px 0px 0px #0001,
        0px 0px 0px 0px #0001,
        inset -7px -7px 20px 0px #fff9,
        inset -4px -4px 5px 0px #fff9,
        inset 7px 7px 20px 0px #0003,
        inset 4px 4px 5px 0px #0001;
}

.icon {
    vertical-align: middle;
    margin-top: 1px;
}
