.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    border: none;
    cursor: pointer;
    user-select: none;

    /* starting position */
    position: relative;
    top: 0;

    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);

    transition:
        top 0.1s ease,
        box-shadow 0.1s ease,
        transform 0.1s ease;
}

/* Animations are active only when the button is not disabled */
.button:not(:disabled):hover {
    top: -2px;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-accent-yellow);
}

.button:active {
    top: 3px; /* physically moves it down */
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); /* shadow collapses with it */
    transform: translateY(0); /* keeps movement crisp */
}

.button:disabled {
    background-color: red;
    cursor: not-allowed;
}

.icon {
    vertical-align: middle;
    margin-top: 1px;
}

.button.default {
    background-color: var(--color-text-primary);
    color: #ffffff;
}

.button.red {
    background-color: var(--color-accent-magenta);
    color: #ffffff;
}

.button.green {
    background-color: var(--color-accent-green);
    color: #ffffff;
}

.button.default:disabled,
.button.red:disabled,
.button.green:disabled {
    box-shadow: var(--button-disabled-box-shadow);
    background-color: var(--button-disabled);
    cursor: not-allowed;
    pointer-events: none;
    transition: none;
    color: #ffffff;
}
