.textInput {
    width: 100%; /* Needed to ensure the field AND label will use all width*/
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-family: 'Quicksand', Arial, sans-serif;
    align-self: flex-start;
    text-align: left;
    margin-left: 5px;
    color: var(--color-text-primary)
}

.inputField {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--color-text-primary);
}

.inputField:focus {
    outline: none; /* kill browser outline */
    border-bottom-color: var(--color-accent-yellow);
    box-shadow: none;
}

.inputField:focus-visible {
    outline: none;
}

.inputFieldError {
    border-color: var(--color-accent-magenta);
    border-width: 2px;
}

.errorText {
    color: var(--color-accent-magenta);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    align-self: flex-start;
}