.textInput {
    width: 100%; /* Needed to ensure the field AND label will use all width*/
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: 16px;
    align-self: flex-start;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
    color: var(--color-text-primary);
}

.inputField {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    background: var(--input-field-background);
    box-shadow: var(--input-field-box-shadow);
    transition: 300ms ease-in-out;
}

.inputField:focus {
    outline: none; /* kill browser outline */
    background-color: var(--input-field-background-focus);
    transform: scale(1.05);
    box-shadow: var(--input-field-box-shadow-focus);
}

.inputField:focus-visible {
    outline: none;
}

.inputFieldError {
    border-color: var(--color-accent-magenta);
    border-width: 2px;
}

.errorText {
    color: var(--color-accent-magenta);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    align-self: flex-start;
}
